[tools]
go = "1.25.3"

[tasks.test]
run = "go test ./..."

# [tasks.build-check]
# run = "go build -o /dev/null ."

[tasks.build-dev]
run = "go build -o mt"
sources = ["**/*.go"]
outputs = ["mt"]

[tasks.run]
run = "go run ."

[tasks.format]
run = "gofumpt -l -w ."

[tasks.lint]
run = "golangci-lint run"

[tasks.check]
alias = "c"
depends = ["format", "lint", "test"]
depends_post = ["build-dev"]

[tasks.changelog]
run = "git-cliff -o CHANGELOG.md"

# [tasks.release]
# description = "Create a new release"
# file = "scripts/release.sh"
